html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.welcometitle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.welcometitle > h1 {
  word-wrap: break-word;
  font-weight: 900;
  opacity: 0;
  color: whitesmoke;
  filter: drop-shadow(0px 0px 2px whitesmoke);
  font-size: 2.8vw;
  margin-top: 6vw;
  margin-bottom: 6vw;
  transition-duration: 1000ms;
  animation: title 1.5s 1s ease-in-out 1 forwards;
}
@keyframes title {
  from {
    opacity: 0;
    transform: scale(1) translate(30vw, -20vw);
  }
  to {
    opacity: 0.8;
    transform: scale(4) translateY(0);
  }
}
.Loading {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}
.themebg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.foreground {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 425px 1fr;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weatherdata {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.temperature {
  font-size: 65px;
  font-weight: 600;
}
.wind {
  font-size: 18px;
  font-weight: 600;
  transform: rotate(45deg);
  top: 32px;
  right: 2px;
  position: absolute;
}
.humidity {
  font-size: 18px;
  font-weight: 600;
  transform: rotate(45deg);
  bottom: 32px;
  left: 2px;
  position: absolute;
}
.weatherlooks {
  font-size: 18px;
  font-weight: 600;
  transform: rotate(-45deg);
  top: 32px;
  left: -10px;
  position: absolute;
  max-width: 150px;
}
.feelslike {
  font-size: 18px;
  font-weight: 600;
  transform: rotate(-45deg);
  bottom: 32px;
  right: 2px;
  position: absolute;
}
.foreground::-webkit-scrollbar {
  display: none;
}
.weatherandsearch {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-rows: 400px 1fr;
}
.searchfeature {
  padding: 1%;
  width: 98%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  padding: 2%;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 96%;
  height: 40px;
}

.searchresults {
  padding: 0 2% 0 2%;
  max-height: 250px;
  width: 96%;
  border-radius: 10px;
  overflow: scroll;
  cursor: pointer;
}
a {
  color: currentColor;
  text-decoration: none;
}
.searchresults::-webkit-scrollbar {
  display: none;
}

.rain {
  position: fixed;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
.cloudy {
  position: fixed;
  opacity: 0.65;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: #394a6f;
  min-width: 800px;
}
.rainstorm {
  position: fixed;
  opacity: 0.35;
  width: 100vw;
  height: 100vh;
  display: block;
  min-width: 800px;
  animation: flash 6s linear infinite;
}
.placename {
  text-shadow: 2px 2px black;
  position: absolute;
  top: 0;
}
.Thunderstorm {
  animation: flash 6s linear infinite;
}
.sunny {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle 80vh at 85% 20%,
    white 2%,
    yellow 15%,
    lightyellow 20%,
    rgb(249, 249, 159) 25%,
    #08aae1
  );
}
.moon {
  position: fixed;
  opacity: 1;
  width: 100vw;
  height: 100vh;

  background-image: radial-gradient(
    circle 90vh at 85% 15%,
    rgb(166, 166, 166) 10%,
    rgb(200, 200, 200) 15%,
    rgb(158, 158, 158) 15%,
    rgb(116, 116, 116) 15%,
    rgb(45, 38, 55)
  );
}
.mooncloudy {
  position: fixed;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black;
  min-width: 800px;
}
.partlycloudy {
  opacity: 0.4;
  min-width: 800px;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#showdaily {
  position: fixed;
  z-index: 2;
  display: none;
}
.showdaily {
  display: none;
  position: fixed;
  z-index: 3;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  left: 5px;
  top: 5px;
  font-weight: 700;
}
.daily {
  width: 100%;
  height: 100%;
}
.daily > div {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  justify-items: center;
  overflow: hidden;
}
.dailytemperature {
  font-size: 25px;
  align-self: center;
}
.daybg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #00000028;
}
.dayweatherimg {
  width: 100%;
  opacity: 0.8;
}
.predictions {
  position: relative;
  z-index: 1;
}
.displaytime {
  position: fixed;
  right: 0;
  top: 94vh;
}
.About {
  z-index: 2;
  position: fixed;
  right: 10px;
  margin-top: 8px;
}
@keyframes flash {
  0% {
    background-color: transparent;
    opacity: 0.35;
  }
  10% {
    background-color: transparent;
    opacity: 0.35;
  }
  12% {
    background-color: #fff;
    opacity: 0.3;
  }
  14% {
    background-color: transparent;
    opacity: 0.35;
  }
  20% {
    background-color: transparent;
    opacity: 0.35;
  }
  22% {
    background-color: #fff;
    opacity: 0.6;
  }
  26% {
    background-color: #3a05ad;
    opacity: 0.35;
  }
  32% {
    background-color: transparent;
    opacity: 0.35;
  }
}

@media (max-width: 1000px) {
  .sunny {
    background-image: radial-gradient(
      circle 80vh at 75% 20%,
      white 2%,
      yellow 15%,
      lightyellow 20%,
      rgb(249, 249, 159) 25%,
      #08aae1
    );
  }
  .moon {
    background-image: radial-gradient(
      circle 90vh at 75% 15%,
      rgb(223, 223, 223) 10%,
      white 15%,
      rgb(207, 207, 207) 15%,
      rgb(134, 134, 134) 15%,
      rgb(45, 38, 55)
    );
  }
  .foreground {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .daily {
    padding-top: 40px;
    overflow-y: scroll;
    position: fixed;
    height: 96%;
    animation: slideout 600ms 100ms ease-in-out 1 forwards;
  }
  .showdaily {
    display: flex;
    position: fixed;
    z-index: 3;
  }
  .weatherandsearch {
    animation: getin 800ms ease-in-out 1 forwards;
  }
  #showdaily:checked ~ .daily {
    animation: slidein 600ms ease-in-out 1 forwards;
  }
  @keyframes slidein {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideout {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }

  #showdaily:checked ~ .weatherandsearch {
    animation: getout 400ms ease-in-out 1 forwards;
  }
  @keyframes getin {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes getout {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
