.main{
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .rain{
    opacity: 0.35;
    width: 100vw;
    height: 100vh;
    display: block;
  }
  .cloudy{
    opacity: 0.9;
      width: 100vw;
      height: 100vh;
      display: block;
  
  }
  .rainstorm{
    opacity: 0.35;
    width: 100vw;
    height: 100vh;
    display: block;
    animation: flash 6s linear infinite;
  }
  .sunny{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle 700px at 85% 20%, white 2%, yellow 15%, lightyellow 20%,rgb(249, 249, 159) 25%, #08aae1);
  }
  .cloudy{
    width: 100vw;
    height: 100vh;
  }
  
  @keyframes flash {
    0% {
      background-color: transparent;
      opacity: 0.35;
    }
    10% {
      background-color: transparent;
      opacity: 0.35;
    }
    12% {
      background-color: #fff;
      opacity: 0.3;
    }
    14% {
      background-color: transparent;
      opacity: 0.35;
    }
    20% {
      background-color: transparent;
      opacity: 0.35;
    }
    22% {
      background-color: #fff;
      opacity: 0.6;
    }
    26% {
      background-color: #3a05ad;
      opacity: 0.35;
    }
    32%{
      background-color: transparent;
      opacity: 0.35;
    }
  }
  